@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-item {
  }
  .header-item-link {
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .header-item-link:hover,
  .header-item-link:focus {
    color: #404bbf;
  }
  .header-item-link.active {
    color: #404bbf;
  }
  .header-item-link.active::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -24px;
  }
  .header-address {
    margin-left: auto;
  }
  .header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-address-list-item {
  }
  .header-address-list-link {
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address-list-link:hover,
  .header-address-list-link:focus {
    color: #404bbf;
  }
  .hero {
    background-size: 1440px 100%;
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
  }
  .services-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .services-icon-item {
    width: 64px;
    height: 64px;
  }
  .services-item {
    width: calc((100% - 72px) / 4);
  }
  .services-subtitle {
    font-size: 20px;
  }
  .services-list {
    display: flex;
    flex-grow: 1;
    gap: 24px;
  }
  .gallery {
    padding: 120px 0;
  }
  .gallery-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .gallery-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team {
    background: #f4f4fd;
    padding: 120px 0;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .customers {
    padding: 130px 0 120px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    display: flex;
  }
}
