@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .services .team .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .services-icon-item {
    display: none;
  }
  .services-subtitle {
    font-size: 36px;
  }
  .team-item {
    width: 100%;
  }
  .customers-item {
    width: calc((100% - 48px) / 2);
  }
}
