:root {
  --secondary-text-font: "Raleway", sans-serif;
  --secondary-title-color: #ffffff;
  --text-color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 18px;
  font-weight: 500;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.text {
  font-size: 16px;
  line-height: 1.5;
}
/*---------------header---------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-link {
  font-family: var(--secondary-text-font);
  font-weight: 800;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 24px 0;
  margin-right: 76px;
}
.header-link-span {
  color: #4d5ae5;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
}
.header-item-link {
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-item-link:hover,
.header-item-link:focus {
  color: #404bbf;
}
.header-item-link.active {
  color: #404bbf;
}
.header-item-link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -24px;
}
.header-address {
  margin-left: auto;
}
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-address-list-item {
}
.header-address-list-link {
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-list-link:hover,
.header-address-list-link:focus {
  color: #404bbf;
}
/*---------------hero---------------*/
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
  padding: 188px 0;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-title-color);
  cursor: pointer;
  background: #4d5ae5;
  display: block;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*---------------services---------------*/
.services {
  padding-top: 120px;
}
.services-container {
}
.services-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.services-icon-item {
  width: 64px;
  height: 64px;
}
.services-list {
  display: flex;
  flex-grow: 1;
  gap: 24px;
}
.services-item {
  width: calc((100% - 72px) / 4);
}
.services-subtitle {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}
.services-description {
  color: var(--text-color);
  font-weight: 400;
}
/*---------------gallery---------------*/
.gallery {
  padding: 120px 0;
}
.gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.gallery-list {
}
.gallery-item {
}
/*---------------team---------------*/
.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-container {
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
}
.team-content {
  background: var(--secondary-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px;
}
.team-subtitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
}
.team-description {
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-item {
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:is(:hover, :focus) {
  background-color: #404bbf;
}
.team-social-icon {
  width: 16px;
  height: 16px;
}
/*---------------customers---------------*/
.customers {
  padding: 130px 0 120px;
}
.customers-subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.customers-item {
}
.customers-item:focus {
  border: 1px solid #404bbf;
  border-radius: 4px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  color: #8e8f99;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:is(:hover, :focus) {
  color: #404bbf;
  border-color: #404bbf;
}
.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
/*---------------footer---------------*/
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
}
.footer-main-container {
  margin-right: 120px;
}
.footer-link {
  font-family: var(--secondary-text-font);
  font-weight: 800;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-description {
  color: #e7e9fc;
  font-weight: 400;
  max-width: 264px;
}
.footer-social {
}
.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-social-item {
}
.footer-social-item:focus {
  background-color: #31d0aa;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.footer-social-icon {
  width: 24px;
  height: 24px;
}
.footer-subscribe {
  margin-left: 80px;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  min-width: 264px;
  min-height: 40px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus {
  border-color: #4d5ae5;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 16px;
}
.footer-submit-button {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 40px;
  min-width: 165px;
  color: var(--secondary-title-color);
  padding: 8px 24px;
  background-color: #4d5ae5;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit-button:is(:hover, :focus) {
  background-color: #404bbf;
}

.telegram-button {
  fill: #fff;
}

/*---------------portfolio---------------*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-item {
}
.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition-property: background-color, box-shadow, color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-content {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-content:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-pictures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-pictures-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-pictures-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-pictures-item {
}
.portfolio-pictures-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-pictures-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio-pictures-link:hover .portfolio-pictures-overlay {
  transform: translateY(0);
}
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #2e2f42;
}
.portfolio-description {
  color: var(--text-color);
}
/*---------------modal---------------*/
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close-button {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 0;
  top: 24px;
  transform: translateX(360px);
}
.modal-close-button:is(:hover, :focus) {
  background-color: #404bbf;
}
.modal-close-button:is(:hover, :focus) .modal-close-item {
  fill: #fff;
}
.modal-close-item {
  width: 8px;
  height: 8px;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  outline: transparent;
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-group {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-phone {
}
.modal-form-email {
}
.modal-form-comment {
}
.modal-form-textarea {
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  outline: transparent;
  resize: none;
  display: block;
  margin-top: 4px;
}
.modal-form-textarea:focus {
  border-color: #4d5ae5;
}
.modal-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  display: block;
}
.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.modal-form-checkbox {
}
.modal-form-check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
  opacity: 0;
  transition: fill, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked + .modal-form-check-icon {
  background-color: #404bbf;
  border-color: #404bbf;
}
.modal-form-checkbox:checked + .modal-form-check-icon .checkbox-icon {
  opacity: 1;
  fill: #f4f4fd;
}
.modal-form-option {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.modal-form-link {
  margin-left: 4px;
  text-decoration-line: underline;
  color: #4d5ae5;
}
.modal-form-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 169px;
  height: 56px;
  display: block;
  margin: 24px auto 0;
}
